<template>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <td>Name</td>
                                <td>Position</td>
                                <td>Company</td>
                                <td>Address</td>
                                <td>Contact Number</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(reference,index) in references">
                                <td>
                                    <input type="text" class='form-control input-sm pull-left' v-model="reference.ref_name">
                                </td>
                                <td>
                                    <input type="text" class='form-control input-sm pull-left' v-model="reference.ref_position">
                                </td>
                                <td>
                                    <input type="text" class='form-control input-sm pull-left' v-model="reference.ref_company">
                                </td>
                                <td>
                                    <input type="text" class='form-control input-sm pull-left' v-model="reference.ref_address">
                                </td>
                                <td>
                                    <input type="text" class='form-control input-sm pull-left' v-model="reference.ref_contact_no">
                                </td>
                                <td>
                                    <button v-if="index == 0" @click="addReference()" class="glyphicon glyphicon-plus"></button>
                                    <button v-else @click="removeReference(index)" class="glyphicon glyphicon-remove"></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="form-group">
                        <div class="col-md-12 text-right">
                            <button class="btn btn-default" @click.prevent="update">Save</button>
                            <button class="btn btn-default">Print</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name : "characterReference",
        props: [
            'employee_number',
            'base_url'
        ],
        mounted () {
            var that = this;
            this.$http.post(that.base_url+'/get-employee-info',{ employee_number : that.employee_number, to_get : "characterReference" }).then(response => {
                if(response.body){
                    var references = response.body;
                    if(references.length != 0) {
                        for (var i = 0; i < references.length; i++) {
                            delete references[i]['ref_employee_id'];
                            delete references[i]['ref_id'];
                        }
                        that.references = references;
                    }
                }
            }, response => {
                    swal("Error","Something went wrong!","error");
                });
            },
        data () {
            return {
                references : [
                    {
                        ref_name : "",
                        ref_position : "",
                        ref_company : "",
                        ref_address : "",
                        ref_contact_no : ""
                    }
                ]
            }
        },
        methods : {
            addReference () {
                this.references.push({
                    ref_name : "",
                    ref_position : "",
                    ref_company : "",
                    ref_address : "",
                    ref_contact_no : ""
                });
            },
            removeReference(index) {
                this.references.splice(index,1);
            },
            update() {
                this.$emit("detailsToSave",this.references);
            },
        }
    }
</script>
