<template>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-3">
                                <label>Basic Pay : </label>
                            </div>
                            <div class="col-md-3">
                                <input type="text" class='form-control input-sm pull-left' v-model="compensation_and_benefits.comp_basic_pay">
                            </div>
                            <div class="col-md-3">
                                <label>Standard Allowance : </label>
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control input-sm pull-left" v-model="compensation_and_benefits.comp_standard_allowance">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <label>Special Pay : </label>
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control input-sm pull-left" v-model="compensation_and_benefits.comp_special_pay">
                            </div>
                            <div class="col-md-3">
                                <label>Meal Allowance : </label>
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control input-sm pull-left" v-model="compensation_and_benefits.comp_meal_allowance">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <label>Others : </label>
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control input-sm pull-left" v-model="compensation_and_benefits.comp_others">
                            </div>
                            <div class="col-md-3">
                                <label>Amount : </label>
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control input-sm pull-left" :disabled="! compensation_and_benefits.comp_others" v-model="compensation_and_benefits.comp_amount">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <label>Cash Bond : </label>
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control input-sm pull-left" v-model="compensation_and_benefits.comp_cash_bond">
                            </div>
                            <div class="col-md-3">
                                <label>Semi-Monthly Rate : </label>
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control input-sm pull-left" v-model="compensation_and_benefits.comp_semi_monthly_rate">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <label>SSS : </label>
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control input-sm pull-left" v-model="compensation_and_benefits.comp_sss">
                            </div>
                            <div class="col-md-3">
                                <label>Philhealth : </label>
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control input-sm pull-left" v-model="compensation_and_benefits.comp_pagibig">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <label>Pagibig : </label>
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control input-sm pull-left" v-model="compensation_and_benefits.comp_philhealth">
                            </div>
                            <div class="col-md-3">
                                <label>Tax : </label>
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control input-sm pull-left" v-model="compensation_and_benefits.comp_tax">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12 text-right">
                                <button class="btn btn-default" @click.prevent="update">Save</button>
                                <button class="btn btn-default">Print</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name : "compensationBenefits",
        props: [
            'employee_number',
            'base_url'
        ],
        mounted () {
            var that = this;
            this.$http.post(that.base_url+'/get-employee-info',{ employee_number : that.employee_number, to_get : "compensationBenefits" }).then(response => {
                if(response.body){
                    delete (response.body.comp_employee_id);
                    delete (response.body.comp_id);
                    that.compensation_and_benefits = response.body;
                }
            }, response => {
                swal("Error","Something went wrong!","error");
            });
        },
        data () {
            return {
                compensation_and_benefits : {
                    comp_basic_pay : "",
                    comp_standard_allowance : "",
                    comp_special_pay : "",
                    comp_meal_allowance : "",
                    comp_others : "",
                    comp_amount : "",
                    comp_cash_bond : "",
                    comp_semi_monthly_rate : "",
                    comp_sss : "",
                    comp_pagibig : "",
                    comp_philhealth : "",
                    comp_tax : "",
                }
            }
        },
        methods : {
            update() {
                this.$emit("detailsToSave",this.compensation_and_benefits);
            },
        }

    }
</script>
