<template>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <td>Name</td>
                            <td>Relationship</td>
                            <td>Birthdate</td>
                            <td>Age</td>
                            <td>Gender</td>
                            <td>With Disability</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="(dependent,index) in dependents">
                            <td>
                                <input type="text" class='form-control input-sm pull-left' v-model="dependent.dep_name">
                            </td>
                            <td>
                                <input type="text" class='form-control input-sm pull-left' v-model="dependent.dep_relationship">
                            </td>
                            <td>
                                <input type="text" class='form-control input-sm pull-left' v-model="dependent.dep_bdate">
                            </td>
                            <td>
                                <input type="text" class='form-control input-sm pull-left' v-model="dependent.dep_age">
                            </td>
                            <td>
                                <select class="form-control input-sm pull-left" v-model="dependent.dep_gender">
                                    <option value="male">Male</option>
                                    <option value="female">Female</option>
                                </select>
                            </td>
                            <td>
                                <input type="text" class='form-control input-sm pull-left' v-model="dependent.dep_disability">
                            </td>
                            <td>
                                <button v-if="index == 0" @click="addDependent()" class="glyphicon glyphicon-plus"></button>
                                <button v-else @click="removeDependent(index)" class="glyphicon glyphicon-remove"></button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="form-group">
                        <div class="col-md-12 text-right">
                            <button class="btn btn-default" @click.prevent="update">Save</button>
                            <button class="btn btn-default">Print</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name : "dependents",
        props: [
            'employee_number',
            'base_url'
        ],
        data () {
            return {
                dependents : [
                    {
                        dep_name : "",
                        dep_relationship : "",
                        dep_bdate : "",
                        dep_age : "",
                        dep_gender : "",
                        dep_disability : ""
                    }
                ]
            }
        },
        mounted() {
            var that = this;
            this.$http.post(that.base_url+'/get-employee-info',{ employee_number : that.employee_number, to_get : "dependents" }).then(response => {
                if(response.body){
                    var dependents = response.body;
                    if(dependents.length != 0) {
                        for (var i = 0; i < dependents.length; i++) {
                            delete dependents[i]['dep_employee_id'];
                            delete dependents[i]['dep_id'];
                        }
                        that.dependents = dependents;
                    }
                }
            }, response => {
                swal("Error","Something went wrong!","error");
            });

            $(".datepicker").datepicker({
                onSelect: function(date) {
                    console.log($(this).data("index"));
                },
                "dateFormat" : 'yy-mm-dd'
            });
        },
        methods : {
            addDependent () {
                this.dependents.push({
                    dep_name : "",
                    dep_relationship : "",
                    dep_bdate : "",
                    dep_age : "",
                    dep_gender : "",
                    dep_disability : ""
                });
            },
            removeDependent(index) {
                this.dependents.splice(index,1);
            },
            update() {
                this.$emit("detailsToSave",this.dependents);
            },
        }
    }
</script>
