<template>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <td>Level</td>
                            <td>School Name</td>
                            <td>Address</td>
                            <td>Year Graduated</td>
                            <td>Degree</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="(educ,index) in educational_background">
                            <td>
                                <input type="text" class='form-control input-sm pull-left' v-model="educ.educ_level">
                            </td>
                            <td>
                                <input type="text" class='form-control input-sm pull-left' v-model="educ.educ_school_name">
                            </td>
                            <td>
                                <input type="text" class='form-control input-sm pull-left' v-model="educ.educ_address">
                            </td>
                            <td>
                                <input type="text" class='form-control input-sm pull-left' v-model="educ.educ_year_graduated">
                            </td>
                            <td>
                                <input type="text" class='form-control input-sm pull-left' v-model="educ.educ_degree">
                            </td>
                            <td>
                                <button v-if="index == 0" @click="addBackground()" class="glyphicon glyphicon-plus"></button>
                                <button v-else @click="removeBackground(index)" class="glyphicon glyphicon-remove"></button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="form-group">
                        <div class="col-md-12 text-right">
                            <button class="btn btn-default" @click.prevent="update">Save</button>
                            <button class="btn btn-default">Print</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name : "educationalBackground",
        props: [
            'employee_number',
            'base_url'
        ],
        mounted () {
            var that = this;
            this.$http.post(that.base_url+'/get-employee-info',{ employee_number : that.employee_number, to_get : "educationalBackground" }).then(response => {
                if(response.body.length > 0){
                    var educational_background = response.body;
                    for (var i = 0; i < educational_background.length; i++) {
                        delete educational_background[i]['educ_id'];
                        delete educational_background[i]['educ_employee_id'];
                    }
                    that.educational_background = educational_background;
                    console.log(educational_background);
                }
        }, response => {
                swal("Error","Something went wrong!","error");
            });
        },
        data () {
            return {
                educational_background : [
                    {
                        educ_level : "",
                        educ_school_name : "",
                        educ_address : "",
                        educ_year_graduated : "",
                        educ_degree : "",
                    }
                ]
            }
        },
        methods : {
            addBackground () {
                this.educational_background.push({
                    educ_level : "",
                    educ_school_name : "",
                    educ_address : "",
                    educ_year_graduated : "",
                    educ_degree : "",
                });
            },
            removeBackground(index) {
                this.educational_background.splice(index,1);
            },
            update() {
                this.$emit("detailsToSave",this.educational_background);
            },
        }
    }
</script>
