<template>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form class="form-horizontal">
                        <div class="col-md-9">
                            <!--Employee Number-->
                            <div class="form-group">
                                <div class="col-md-3">
                                    <label>Employee Number : </label>
                                </div>
                                <div class="col-md-3">
                                    <input type="text" class="form-control input-sm pull-left" :value="employee_details.employee_number" disabled>
                                </div>
                                <div class="col-md-2">
                                    <input type="checkbox" v-model="employee_details.active">
                                    <label>Activate</label>
                                </div>
                            </div>
                            <!--Employee Name-->
                            <div class="form-group">
                                <div class="col-md-3">
                                    <label>Employee Name : </label>
                                </div>
                                <div class="col-md-3">
                                    <input type="text" class="form-control input-sm pull-left" v-model="employee_details.lastname">
                                </div>
                                <div class="col-md-3">
                                    <input type="text" class="form-control input-sm pull-left" v-model="employee_details.middlename">
                                </div>
                                <div class="col-md-3">
                                    <input type="text" class="form-control input-sm pull-left" v-model="employee_details.firstname">
                                </div>
                            </div>
                        </div>
                        <!--Employee Photo-->
                        <div class="col-md-3 text-center">
                            <img src="https://placeholdit.co//i/100x100">
                            <input type="file" v-on:change="onFileChange">
                        </div>
                        <div class="clearfix"></div>
                        <hr />
                        <div class="form-group col-md-12">
                            <div class="col-md-2">
                                <label>Department / Client : </label>
                            </div>
                            <div class="col-md-3">
                                <select class="form-control input-sm pull-left" v-model="employee_details.department">
                                    <option :value="department.dept_id" v-for="department in mutated_departments">{{ department.dept_name }}</option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <label>Hiring Date : </label>
                            </div>
                            <div class="col-md-3">
                                <input type="text" id="hiring_date" class="datepicker form-control input-sm pull-left" v-on:change="sample" v-model="employee_details.hiring_date">
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <div class="col-md-2">
                                <label>Position : </label>
                            </div>
                            <div class="col-md-3">
                                <select class="form-control input-sm pull-left" v-model="employee_details.position">
                                    <option :value="job_position.job_id" v-for="job_position in mutated_job_positions">{{ job_position.job_title }}</option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <label>Contract Duration : </label>
                            </div>
                            <div class="col-md-2">
                                <input type="text" id="duration_from" class="datepicker form-control input-sm pull-left" v-model="employee_details.contract_duration_from">
                            </div>
                            <div class="col-md-1">
                                <label>To : </label>
                            </div>
                            <div class="col-md-2">
                                <input type="text" id="duration_to" class="datepicker form-control input-sm pull-left" v-model="employee_details.contract_duration_to">
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <div class="col-md-2">
                                <label>Payclass : </label>
                            </div>
                            <div class="col-md-3">
                                <select class="form-control input-sm pull-left" v-model="employee_details.payclass">
                                    <option :value="pay_class.class_id" v-for="pay_class in mutated_pay_classes">{{ pay_class.class_title }}</option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <label>Work Schedule : </label>
                            </div>
                            <div class="col-md-3">
                                <select class="form-control input-sm pull-left" v-model="employee_details.work_schedule">
                                    <option value="1">Flexi</option>
                                    <option value="2">Compressed</option>
                                    <option value="3">Special</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <div class="col-md-2">
                                <label>Employee Status : </label>
                            </div>
                            <div class="col-md-3">
                                <select class="form-control input-sm pull-left" v-model="employee_details.employee_status">
                                    <option value="1">Active</option>
                                    <option value="0">Inactive</option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <label>Employee Type : </label>
                            </div>
                            <div class="col-md-3">
                                <select class="form-control input-sm pull-left" v-model="employee_details.employee_type">
                                    <option :value="employee_type.type_id" v-for="employee_type in mutated_employee_types">{{ employee_type.type_title }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <div class="col-md-2">
                                <label>Monthly Rate : </label>
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control input-sm pull-left" v-model="employee_details.monthly_rate">
                            </div>
                            <div class="col-md-2">
                                <label>Semi-Monthly Rate : </label>
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control input-sm pull-left" v-model="employee_details.semi_monthly_rate">
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <div class="col-md-2">
                                <label>Daily Rate : </label>
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control input-sm pull-left" v-model="employee_details.daily_rate">
                            </div>
                            <div class="col-md-2">
                                <label>Hourly Rate : </label>
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control input-sm pull-left" v-model="employee_details.hourly_rate">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name : "employeeDetails",
        props : [
            "employee_number",
            "departments",
            "employee_types",
            "pay_classes",
            "job_positions",
            "base_url",
        ],
        mounted() {
            var that = this;
            this.$http.post(that.base_url+'/get-employee-details',{ employee_number : that.employee_number }).then(response => {
                that.employee_details = {
                    'employee_number' :  that.employee_number,
                    'photo' : "asdasd.jpg",
                    'lastname' : response.body.emp_lastname,
                    'middlename' : response.body.emp_middlename,
                    'firstname' : response.body.emp_firstname,
                    'department' : response.body.emp_dept_id,
                    'hiring_date' : response.body.emp_hiring_date,
                    'position' : response.body.emp_position_id,
                    'contract_duration_from' : response.body.emp_contract_from,
                    'contract_duration_to' : response.body.emp_contract_to,
                    'payclass' : response.body.emp_class_id,
                    'work_schedule' : response.body.emp_work_sched_id,
                    'employee_status' : response.body.emp_status,
                    'employee_type' : response.body.emp_type_id,
                    'monthly_rate' : response.body.emp_monthly_rate,
                    'semi_monthly_rate' : response.body.emp_semi_monthly_rate,
                    'daily_rate' : response.body.emp_daily_rate,
                    'hourly_rate' : response.body.emp_hourly_rate
                };
            }, response => {
                swal("Error","Something went wrong!","error");
            });
            $("#hiring_date").datepicker({
                onSelect: function(date) {
                    that.employee_details.hiring_date = date;
                },
                "dateFormat" : 'yy-mm-dd'
            });
            $("#duration_from").datepicker({
                onSelect: function(date) {
                    that.employee_details.contract_duration_from = date;
                },
                "dateFormat" : 'yy-mm-dd'
            });
            $("#duration_to").datepicker({
                onSelect: function(date) {
                    that.employee_details.contract_duration_to = date;
                },
                "dateFormat" : 'yy-mm-dd'
            });
        },
        data () {
            return {
                "mutated_departments" : JSON.parse(this.departments),
                "mutated_employee_types" : JSON.parse(this.employee_types),
                "mutated_pay_classes" : JSON.parse(this.pay_classes),
                "mutated_job_positions" : JSON.parse(this.job_positions),
                'employee_details' : {
                    'employee_number' : "",
                    'photo' : "asdasd.jpg",
                    'active' : "",
                    'lastname' : "",
                    'middlename' : "",
                    'firstname' : "",
                    'department' : "",
                    'hiring_date' : "",
                    'position' : "",
                    'contract_duration_from' : "",
                    'contract_duration_to' : "",
                    'payclass' : "",
                    'work_schedule' : "",
                    'employee_status' : "",
                    'employee_type' : "",
                    'monthly_rate' : "",
                    'semi_monthly_rate' : "",
                    'daily_rate' : "",
                    'hourly_rate' : ""
                }

            }
        },
        methods : {
            passEmployeeDetails () {
                this.$emit('employeeDetails',this.employee_details);
            },
            onFileChange(e) {
                var files = e.target.files;
                if (!files.length)
                    return;
//                this.$set(this.employee_details,"photo",files[0]);
                console.log(files[0]);
                let formdata = new FormData();
                formdata.append('Content-Type', 'image/');
                formdata.append('photo', files[0]);
                this.$http.post('/admin/personnel-information/test',formdata).then(response => {
                    console.log(response.body);
                }, response => {
                    // error callback
                });
            },
            sample() {
                swal("asdasd","asdasdasda","success");
            }
        },
        watch : {
            'employee_details': {
                handler(val){
                    this.passEmployeeDetails();
                },
                deep: true
            }
        },
    }
</script>
