<template>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <td>Position</td>
                            <td>Company Name</td>
                            <td>Phone Number</td>
                            <td>Address</td>
                            <td>Latest Pay</td>
                            <td>From</td>
                            <td>To</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="(history,index) in employmentHistories">
                            <td>
                                <input type="text" class='form-control input-sm pull-left' v-model="history.history_position">
                            </td>
                            <td>
                                <input type="text" class='form-control input-sm pull-left' v-model="history.history_comp_name">
                            </td>
                            <td>
                                <input type="text" class='form-control input-sm pull-left' v-model="history.history_number">
                            </td>
                            <td>
                                <input type="text" class='form-control input-sm pull-left' v-model="history.history_address">
                            </td>
                            <td>
                                <input type="text" class='form-control input-sm pull-left' v-model="history.history_patest_pay">
                            </td>
                            <td>
                                <input type="text" class='form-control input-sm pull-left' v-model="history.history_date_from">
                            </td>
                            <td>
                                <input type="text" class='form-control input-sm pull-left' v-model="history.history_date_to">
                            </td>
                            <td>
                                <button v-if="index == 0" @click="addHistory()" class="glyphicon glyphicon-plus"></button>
                                <button v-else @click="removeHistory(index)" class="glyphicon glyphicon-remove"></button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="form-group">
                        <div class="col-md-12 text-right">
                            <button class="btn btn-default" @click.prevent="update">Save</button>
                            <button class="btn btn-default">Print</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name : "employmentHistory",
        props: [
            'employee_number',
            'base_url'
        ],
        mounted() {
            var that = this;
            this.$http.post(that.base_url+'/get-employee-info',{ employee_number : that.employee_number, to_get : "employmentHistory" }).then(response => {
                if(response.body){
                    var employmentHistories = response.body;
                    if(employmentHistories.length != 0) {
                        for (var i = 0; i < employmentHistories.length; i++) {
                            delete employmentHistories[i]['history_employee_id'];
                            delete employmentHistories[i]['history_id'];
                        }
                        this.employmentHistories = employmentHistories;
                    }
                }
            }, response => {
                swal("Error","Something went wrong!","error");
            });
        },
        data () {
            return {
                employmentHistories : [
                    {
                        history_position : "",
                        history_comp_name : "",
                        history_number : "",
                        history_address : "",
                        history_patest_pay : "",
                        history_date_from : "",
                        history_date_to : "",
                    }
                ]
            }
        },
        methods : {
            addHistory () {
                this.employmentHistories.push({
                    history_position : "",
                    history_comp_name : "",
                    history_number : "",
                    history_address : "",
                    history_patest_pay : "",
                    history_date_from : "",
                    history_date_to : ""
                });
            },
            removeHistory (index) {
                this.employmentHistories.splice(index,1);
            },
            update() {
                this.$emit("detailsToSave",this.employmentHistories);
            },
        }
    }
</script>
