<template>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <td>Name</td>
                            <td>Relationship</td>
                            <td>Date of Birth</td>
                            <td>Civil Status</td>
                            <td>Education</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="(family,index) in family_background">
                            <td>
                                <input type="text" class='form-control input-sm pull-left' v-model="family.fam_name">
                            </td>
                            <td>
                                <input type="text" class='form-control input-sm pull-left' v-model="family.fam_relationship">
                            </td>
                            <td>
                                <input type="text" class='form-control input-sm pull-left' v-model="family.fam_bdate">
                            </td>
                            <td>
                                <input type="text" class='form-control input-sm pull-left' v-model="family.fam_civil_status">
                            </td>
                            <td>
                                <input type="text" class='form-control input-sm pull-left' v-model="family.fam_education">
                            </td>
                            <td>
                                <button v-if="index == 0" @click="addBackground()" class="glyphicon glyphicon-plus"></button>
                                <button v-else @click="removeBackground(index)" class="glyphicon glyphicon-remove"></button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="form-group">
                        <div class="col-md-12 text-right">
                            <button class="btn btn-default" @click.prevent="update">Save</button>
                            <button class="btn btn-default">Print</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name : "familyBackground",
        props: [
            'employee_number',
            'base_url'
        ],
        mounted () {
            var that = this;
            this.$http.post(that.base_url+'/get-employee-info',{ employee_number : that.employee_number, to_get : "familyBackground" }).then(response => {
                if(response.body.length > 0){
                var family_background = response.body;
                for (var i = 0; i < family_background.length; i++) {
                    delete family_background[i]['fam_id'];
                    delete family_background[i]['fam_employee_id'];
                }
                that.family_background = family_background;
            }
        }, response => {
                swal("Error","Something went wrong!","error");
            });
        },
        data () {
            return {
                family_background : [
                    {
                        fam_name : "",
                        fam_relationship : "",
                        fam_bdate : "",
                        fam_civil_status : "",
                        fam_education : "",
                    }
                ]
            }
        },
        methods : {
            addBackground () {
                this.family_background.push({
                    fam_name : "",
                    fam_relationship : "",
                    fam_bdate : "",
                    fam_civil_status : "",
                    fam_education : "",
                });
            },
            removeBackground(index) {
                this.family_background.splice(index,1);
            },
            update() {
                this.$emit("detailsToSave",this.family_background);
            },
        }
    }
</script>
