<template>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-group">
                        <div class="col-md-3">
                            <label>Project : </label>
                        </div>
                        <div class="col-md-3">
                            <input type="text" class='form-control input-sm pull-left' v-model="job_descriptions.jd_project">
                        </div>
                        <div class="col-md-3">
                            <label>Immediate Superior: </label>
                        </div>
                        <div class="col-md-3">
                            <input type="text" class="form-control input-sm pull-left" v-model="job_descriptions.jd_superior">
                        </div>
                    </div>
                    <table class="table">
                        <thead>
                        <tr>
                            <td>Job Responsibilities</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="(responsibility,index) in job_descriptions.responsibilities">
                            <td>
                                <input type="text" class='form-control input-sm pull-left' v-model="responsibility.job_res_description">
                            </td>
                            <td>
                                <button v-if="index == 0" @click="addResponsibility()" class="glyphicon glyphicon-plus"></button>
                                <button v-else @click="removeResponsibility(index)" class="glyphicon glyphicon-remove"></button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="form-group">
                        <div class="col-md-12 text-right">
                            <button class="btn btn-default" @click.prevent="update">Save</button>
                            <button class="btn btn-default">Print</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name : "jobDescription",
        props: [
            'employee_number',
            'base_url'
        ],
        mounted () {
            var that = this;
            this.$http.post(that.base_url+'/get-employee-info',{ employee_number : that.employee_number, to_get : "jobDescription" }).then(response => {
                if(response.body){
                    for (var i = 0; i < response.body.responsibilities.length; i++) {
                        delete response.body.responsibilities[i]['job_res_id'];
                        delete response.body.responsibilities[i]['job_description_id'];
                    }
                    that.job_descriptions = response.body;
                }
            }, response => {
                swal("Error","Something went wrong!","error");
            });
        },
        data () {
            return {
                job_descriptions : {
                    jd_project : "",
                    jd_superior : "",
                    responsibilities : [
                        {
                            job_res_description : "",
                        }
                    ]
                }
            }
        },
        methods : {
            addResponsibility () {
                this.job_descriptions.responsibilities.push({
                    job_res_description : ""
                });
            },
            removeResponsibility (index) {
                this.job_descriptions.responsibilities.splice(index,1);
            },
            update() {
                this.$emit("detailsToSave",this.job_descriptions);
            },
        }
    }
</script>
