<template>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-3">
                                <label>Date of Birth : </label>
                            </div>
                            <div class="col-md-3">
                                <input type="text" class='datepicker form-control input-sm pull-left' id="bdate" v-model='personal_information.birthdate'>
                            </div>
                            <div class="col-md-3">
                                <label>Height : </label>
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control input-sm pull-left" v-model="personal_information.height">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <label>Place of Birth : </label>
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control input-sm pull-left" v-model="personal_information.birthplace">
                            </div>
                            <div class="col-md-3">
                                <label>Weight : </label>
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control input-sm pull-left" v-model="personal_information.weight">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <label>Gender : </label>
                            </div>
                            <div class="col-md-3">
                                <select name="" class="form-control input-sm pull-left" v-model="personal_information.gender">
                                    <option value="male">MALE</option>
                                    <option value="female">FEMALE</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label>SSS : </label>
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control input-sm pull-left" v-model="personal_information.sss">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <label>Civil Status : </label>
                            </div>
                            <div class="col-md-3">
                                <select name="" class="form-control input-sm pull-left" v-model="personal_information.civil_status">
                                    <option value="married">Married</option>
                                    <option value="single">Single</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label>TIN : </label>
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control input-sm pull-left" v-model="personal_information.tin">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <label>Nationality : </label>
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control input-sm pull-left" v-model="personal_information.nationality">
                            </div>
                            <div class="col-md-3">
                                <label>Pagibig : </label>
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control input-sm pull-left" v-model="personal_information.pagibig">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <label>Language Spoken : </label>
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control input-sm pull-left" v-model="personal_information.language_spoken">
                            </div>
                            <div class="col-md-3">
                                <label>Philhealth : </label>
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control input-sm pull-left" v-model="personal_information.philhealth">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <label>Religion : </label>
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control input-sm pull-left" v-model="personal_information.religion">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <label>Contact Number : </label>
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control input-sm pull-left" v-model="personal_information.contact_number">
                            </div>
                            <div class="col-md-3">
                                <label>Email Address : </label>
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control input-sm pull-left" v-model="personal_information.email_address">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <label>Present Address : </label>
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control input-sm pull-left" v-model="personal_information.present_address.street">
                            </div>
                            <div class="col-md-3">
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control input-sm pull-left" v-model="personal_information.present_address.municipal">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control input-sm pull-left" v-model="personal_information.present_address.province">
                            </div>
                            <div class="col-md-3">
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control input-sm pull-left" v-model="personal_information.present_address.zipcode">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6">
                                <input type="checkbox" style="margin-right: 10px;" v-model="sameAddress"><label>same as present address</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <label>Permanent Address: </label>
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control input-sm pull-left" :disabled="sameAddress" v-model="personal_information.permanent_address.street">
                            </div>
                            <div class="col-md-3">
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control input-sm pull-left" :disabled="sameAddress" v-model="personal_information.permanent_address.municipal">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control input-sm pull-left" :disabled="sameAddress" v-model="personal_information.permanent_address.province">
                            </div>
                            <div class="col-md-3">
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control input-sm pull-left" :disabled="sameAddress" v-model="personal_information.permanent_address.zipcode">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <label>Contact Person Incase of emergency : </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <label>Name : </label>
                            </div>
                            <div class="col-md-5">
                                <input type="text" class="form-control input-sm pull-left" v-model="personal_information.contact_person.name">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <label>Relationship : </label>
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control input-sm pull-left" v-model="personal_information.contact_person.relationship">
                            </div>
                            <div class="col-md-3">
                                <label>Contact Number : </label>
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control input-sm pull-left" v-model="personal_information.contact_person.number">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <label>Address : </label>
                            </div>
                            <div class="col-md-9">
                                <input type="text" class="form-control input-sm pull-left" v-model="personal_information.contact_person.address">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12 text-right">
                                <button class="btn btn-default" @click.prevent="update">Save</button>
                                <button class="btn btn-default">Print</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name : "personalInformation",
        props: [
            'employee_number',
            'base_url'
        ],
        mounted () {
            var that = this;
            this.$http.post(that.base_url+'/get-employee-info',{ employee_number : that.employee_number, to_get : "personalInformation" }).then(response => {
                if(response.body){
                    this.personal_information = {
                        "birthdate" : response.body.info_birth_date,
                        "height" : response.body.info_height,
                        "birthplace" : response.body.info_birth_place,
                        "weight" : response.body.info_weight,
                        "gender" : response.body.info_gender,
                        "sss" : response.body.info_sss,
                        "civil_status" : response.body.info_civil_status,
                        "tin" : response.body.info_tin,
                        "nationality" : response.body.info_nationality,
                        "email_address" : response.body.info_email,
                        "contact_number" : response.body.info_contact_no,
                        "pagibig" : response.body.info_pagibig,
                        "language_spoken" : response.body.info_language,
                        "philhealth" : response.body.info_philhealth,
                        "religion" : response.body.info_religion,
                        "present_address" : {
                            "street" : response.body.info_present_street,
                            "municipal" : response.body.info_present_municipal,
                            "province" : response.body.info_present_province,
                            "zipcode" : response.body.info_present_zipcode,
                        },
                        "permanent_address" : {
                            "street" : response.body.info_perma_street,
                            "municipal" : response.body.info_perma_municipal,
                            "province" : response.body.info_perma_province,
                            "zipcode" : response.body.info_perma_zipcode,
                        },
                        "contact_person" : {
                            "name" : response.body.info_cperson_name,
                            "relationship" : response.body.info_cperson_relationship,
                            "number" : response.body.info_cperson_no,
                            "address" : response.body.info_cperson_address,
                        }
                    };
                    if (that.isEquivalent(that.personal_information.permanent_address,that.personal_information.permanent_address)) {
                        that.sameAddress = true;
                    }
                }
            }, response => {
                swal("Error","Something went wrong!","error");
            });
            $('#bdate').datepicker({
                "dateFormat" : 'yy-mm-dd',
                onSelect: function(dateText) {
                    that.personal_information.birthdate = dateText;
                }
            })
        },
        data () {
            return {
                "sameAddress"  : false,
                personal_information : {
                    "birthdate" : "",
                    "height" : "",
                    "birthplace" : "",
                    "weight" : "",
                    "gender" : "",
                    "sss" : "",
                    "civil_status" : "",
                    "tin" : "",
                    "nationality" : "",
                    "pagibig" : "",
                    "language_spoken" : "",
                    "philhealth" : "",
                    "religion" : "",
                    "email_address" : "",
                    "contact_number" : "",
                    "present_address" : {
                        "street" : "",
                        "municipal" : "",
                        "province" : "",
                        "zipcode" : "",
                    },
                    "permanent_address" : {
                        "street" : "",
                        "municipal" : "",
                        "province" : "",
                        "zipcode" : "",
                    },
                    "contact_person" : {
                        "name" : "",
                        "relationship" : "",
                        "number" : "",
                        "address" : "",
                    }
                }
            }
        },
        methods : {
            update() {
                this.$emit("detailsToSave",this.personal_information);
            },
            isEquivalent(a, b) {
                // Create arrays of property names
                var aProps = Object.getOwnPropertyNames(a);
                var bProps = Object.getOwnPropertyNames(b);
                if (aProps.length != bProps.length) {
                    return false;
                }

                for (var i = 0; i < aProps.length; i++) {
                    var propName = aProps[i];
                    if (a[propName] !== b[propName]) {
                        return false;
                    }
                }
                return true;
            }
        },
        watch : {
            sameAddress () {
                if(this.sameAddress) {
                    this.personal_information.permanent_address = this.personal_information.present_address;
                }else{
                    this.$set(this.personal_information,"permanent_address",{
                        "street" : "",
                        "municipal" : "",
                        "province" : "",
                        "zipcode" : "",
                    });
                }
            }
        },


    }
</script>

