<template>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-md-4">
                        <ul class="list list-unstyled">
                            <li><input type="checkbox" v-model="requirements.primary" value="twobytwo"> Colored Picture 2x2(2pcs)</li>
                            <li><input type="checkbox" v-model="requirements.primary" value="onebyone"> Colored Picture 1x1(1pcs)</li>
                            <li><input type="checkbox" v-model="requirements.primary" value="xray"> X-ray Result</li>
                            <li><input type="checkbox" v-model="requirements.primary" value="physical_exam"> Physical Exam</li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <ul class="list list-unstyled">
                            <li><input type="checkbox" v-model="requirements.primary" value="tor"> Transcript of Records</li>
                            <li><input type="checkbox" v-model="requirements.primary" value="diploma"> Diploma</li>
                            <li><input type="checkbox" v-model="requirements.primary" value="police_clearance"> Police Clearance</li>
                            <li><input type="checkbox" v-model="requirements.primary" value="nbi"> NBI Clearance</li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <ul class="list list-unstyled">
                            <li><input type="checkbox" v-model="requirements.primary" value="coe"> Certificate of Employment</li>
                            <li><input type="checkbox" v-model="requirements.primary" value="training"> Training / Seminar Certificate</li>
                            <li>
                                <input type="checkbox" v-model="others"> Others
                            </li>
                        </ul>
                        <ul class="list list-unstyled">
                            <li v-for="(other,index) in requirements.other">
                                <div class="form-group col-md-8">
                                    <input type="text" style="max-width: 100px;" class="form-control input-sm pull-left" :disabled="! others" v-model="other.req_name">
                                    <button v-if="index == 0" @click="addOtherReq()" class="btn btn-default glyphicon glyphicon-plus pull-right" :disabled="! others"></button>
                                    <button v-else @click="removeOtherReq(index)" class="btn btn-default glyphicon glyphicon-remove pull-right" :disabled="! others"></button>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12 text-right">
                            <button class="btn btn-default" @click.prevent="update">Save</button>
                            <button class="btn btn-default">Print</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name : "requirements",
        props: [
            'employee_number',
            'base_url'
        ],
        mounted () {
            var that = this;
            this.$http.post(that.base_url+'/get-employee-info',{ employee_number : that.employee_number, to_get : "requirements" }).then(response => {
                if(response.body.length != 0){
                    var primary = [];
                    var other = [];
                    for (var i = 0; i < response.body.length; i++) {
                        if(response.body[i].req_type == 1) {
                            primary.push(response.body[i].req_name);
                        }else if(response.body[i].req_type == 2) {
                            other.push({
                               req_name : response.body[i].req_name
                            });
                        }
                    }
                    if(other.length != 0) {
                        that.others = true;
                    }
                    that.requirements.primary = primary;
                    that.requirements.other = other;
                }
            }, response => {
                    swal("Error","Something went wrong!","error");
                });
            },
        data () {
            return {
                others : false,
                requirements : {
                    primary : [],
                    other : []
                }

            }
        },
        methods : {
            addOtherReq () {
                this.requirements.other.push({
                    req_name : ""
                });
            },
            removeOtherReq(index) {
                this.requirements.other.splice(index,1);
            },
            update() {
                this.$emit("detailsToSave",this.requirements);
            },
        },
        watch : {
            "others" () {
                if(this.others == true) {
                    this.requirements.other = [{
                        req_name : ""
                    }];
                }else{
                    this.requirements.other = [];
                }
            }
        }
    }
</script>
