<template>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4>Skills and Qualifications</h4>
                    <form class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-3">
                                <label>Special Skills : </label>
                            </div>
                            <div class="col-md-9">
                                <input type="text" class="form-control input-sm pull-left" v-model="skills.skill_special">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <label>Computer Software Languages : </label>
                            </div>
                            <div class="col-md-9">
                                <input type="text" class="form-control input-sm pull-left" v-model="skills.skill_com_language">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <label>Office Equipment can operate : </label>
                            </div>
                            <div class="col-md-9">
                                <input type="text" class="form-control input-sm pull-left" v-model="skills.skill_equipment">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <label>Professional Affiliations : </label>
                            </div>
                            <div class="col-md-9">
                                <input type="text" class="form-control input-sm pull-left" v-model="skills.skill_affiliations">
                            </div>
                        </div>
                    </form>
                    <table class="table">
                        <thead>
                        <tr>
                            <td>Gov't Examination Passed</td>
                            <td>Date Taken</td>
                            <td>Rating</td>
                            <td>Conducted By</td>
                            <td>Status</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="(eligibility,index) in skills.eligibilities">
                            <td>
                                <input type="text" class='form-control input-sm pull-left' v-model="eligibility.eligibility_exam_name">
                            </td>
                            <td>
                                <input type="text" class='form-control input-sm pull-left' v-model="eligibility.eligibility_date_taken">
                            </td>
                            <td>
                                <input type="text" class='form-control input-sm pull-left' v-model="eligibility.eligibility_rating">
                            </td>
                            <td>
                                <input type="text" class='form-control input-sm pull-left' v-model="eligibility.eligibility_conducted_by">
                            </td>
                            <td>
                                <input type="text" class='form-control input-sm pull-left' v-model="eligibility.eligibility_status">
                            </td>
                            <td>
                                <button v-if="index == 0" @click="addEligibility()" class="glyphicon glyphicon-plus"></button>
                                <button v-else @click="removeEligibility(index)" class="glyphicon glyphicon-remove"></button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="form-group">
                        <div class="col-md-12 text-right">
                            <button class="btn btn-default" @click.prevent="update">Save</button>
                            <button class="btn btn-default">Print</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name : "skills",
        props: [
            'employee_number',
            'base_url'
        ],
        mounted () {
            var that = this;
            this.$http.post(that.base_url+'/get-employee-info',{ employee_number : that.employee_number, to_get : "skills" }).then(response => {
            if(response.body){
                for (var i = 0; i < response.body.eligibilities.length; i++) {
                    delete response.body.eligibilities[i]['job_res_id'];
                    delete response.body.eligibilities[i]['job_description_id'];
                }
                that.skills = response.body;
            }
        }, response => {
                swal("Error","Something went wrong!","error");
            });
        },
        data () {
            return {
                skills : {
                    skill_special : "",
                    skill_com_language : "",
                    skill_equipment : "",
                    skill_affiliations : "",
                    eligibilities : [
                        {
                            eligibility_exam_name : "",
                            eligibility_date_taken : "",
                            eligibility_rating : "",
                            eligibility_conducted_by : "",
                            eligibility_status : "",
                        }
                    ]
                }
            }
        },
        methods : {
            addEligibility () {
                this.skills.eligibilities.push({
                    eligibility_exam_name : "",
                    eligibility_date_taken : "",
                    eligibility_rating : "",
                    eligibility_conducted_by : "",
                    eligibility_status : "",
                });
            },
            removeEligibility(index) {
                this.skills.eligibilities.splice(index,1);
            },
            update() {
                this.$emit("detailsToSave",this.skills);
            },
        }
    }
</script>
