<template>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <td>Course / Seminar Title</td>
                            <td>Brief Description</td>
                            <td>Training Provider</td>
                            <td>Date From</td>
                            <td>Date To</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="(training,index) in trainings">
                            <td>
                                <input type="text" class='form-control input-sm pull-left' v-model="training.training_title">
                            </td>
                            <td>
                                <input type="text" class='form-control input-sm pull-left' v-model="training.training_description">
                            </td>
                            <td>
                                <input type="text" class='form-control input-sm pull-left' v-model="training.training_provider">
                            </td>
                            <td>
                                <input type="text" class='form-control input-sm pull-left' v-model="training.training_date_from">
                            </td>
                            <td>
                                <input type="text" class='form-control input-sm pull-left' v-model="training.training_date_to">
                            </td>
                            <td>
                                <button v-if="index == 0" @click="addTraining()" class="glyphicon glyphicon-plus"></button>
                                <button v-else @click="removeTraining(index)" class="glyphicon glyphicon-remove"></button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="form-group">
                        <div class="col-md-12 text-right">
                            <button class="btn btn-default" @click.prevent="update">Save</button>
                            <button class="btn btn-default">Print</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name : "trainings",
        props: [
            'employee_number',
            'base_url'
        ],
        mounted () {
            var that = this;
            this.$http.post(that.base_url+'/get-employee-info',{ employee_number : that.employee_number, to_get : "trainings" }).then(response => {
                if(response.body.length > 0){
                var trainings = response.body;
                for (var i = 0; i < trainings.length; i++) {
                    delete trainings[i]['training_id'];
                    delete trainings[i]['training_employee_id'];
                }
                that.trainings = trainings;
            }
        }, response => {
                swal("Error","Something went wrong!","error");
            });
        },
        data () {
            return {
                trainings : [
                    {
                        training_title : "",
                        training_description : "",
                        training_provider : "",
                        training_date_from : "",
                        training_date_to : "",
                    }
                ]
            }
        },
        methods : {
            addTraining () {
                this.trainings.push({
                    training_title : "",
                    training_description : "",
                    training_provider : "",
                    training_date_from : "",
                    training_date_to : "",
                });
            },
            removeTraining(index) {
                this.trainings.splice(index,1);
            },
            update() {
                this.$emit("detailsToSave",this.trainings);
            },
        }
    }
</script>
