<template>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form class="form-horizontal">
                        <div class="col-md-9">
                            <!--Employee Number-->
                            <div class="form-group">
                                <div class="col-md-3">
                                    <label>Applicant Number : </label>
                                </div>
                                <div class="col-md-3">
                                    <input type="text" class="form-control input-sm pull-left" :value="applicant_details.app_number" disabled>
                                </div>
                                <div class="col-md-2">
                                    <label>Applicant Status</label>
                                </div>
                                <div class="col-md-4">
                                    <select name="" id="" class="form-control" v-model="applicant_details.app_status">
                                        <option value="FOR INTERVIEW">FOR INTERVIEW</option>
                                    </select>
                                </div>
                            </div>
                            <!--Employee Name-->
                            <div class="form-group">
                                <div class="col-md-3">
                                    <label>Applicant Name : </label>
                                </div>
                                <div class="col-md-3">
                                    <input type="text" class="form-control input-sm pull-left" v-model="applicant_details.emp_lastname">
                                </div>
                                <div class="col-md-3">
                                    <input type="text" class="form-control input-sm pull-left" v-model="applicant_details.emp_middlename">
                                </div>
                                <div class="col-md-3">
                                    <input type="text" class="form-control input-sm pull-left" v-model="applicant_details.emp_firstname">
                                </div>
                            </div>
                        </div>
                        <!--Employee Photo-->
                        <div class="col-md-3 text-center">
                            <img src="https://placeholdit.co//i/100x100">
                            <input type="file" v-on:change="onFileChange">
                        </div>
                        <div class="clearfix"></div>
                        <hr />
                        <div class="form-group col-md-12">
                            <div class="col-md-2">
                                <label>Department / Client : </label>
                            </div>
                            <div class="col-md-3">
                                <select class="form-control input-sm pull-left" v-model="applicant_details.emp_dept_id">
                                    <option :value="department.dept_id" v-for="department in mutated_departments">{{ department.dept_name }}</option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <label>Application Date : </label>
                            </div>
                            <div class="col-md-3">
                                <input type="text" id="app_date" class="datepicker form-control input-sm pull-left" v-on:change="sample" v-model="applicant_details.app_date">
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <div class="col-md-2">
                                <label>Position Applied : </label>
                            </div>
                            <div class="col-md-3">
                                <select class="form-control input-sm pull-left" v-model="applicant_details.app_position">
                                    <option :value="job_position.job_id" v-for="job_position in mutated_job_positions">{{ job_position.job_title }}</option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <label>Position Applied 2nd: </label>
                            </div>
                            <div class="col-md-3">
                                <select class="form-control input-sm pull-left" v-model="applicant_details.app_position_two">
                                    <option :value="job_position.job_id" v-for="job_position in mutated_job_positions">{{ job_position.job_title }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <div class="col-md-2">
                                <label>Desired Salary : </label>
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control input-sm" v-model="applicant_details.app_desired_salary">
                            </div>
                            <div class="col-md-2">
                                <label>Reason : </label>
                            </div>
                            <div class="col-md-3">
                                <textarea class="form-control input-sm" v-model="applicant_details.app_reason"></textarea>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <div class="col-md-2">
                                <label>Black List : </label>
                            </div>
                            <div class="col-md-3">
                                <input type="radio" value="1" v-model="applicant_details.app_blacklist">Yes
                                <input type="radio" value="0" v-model="applicant_details.app_blacklist">No
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name : "applicantDetails",
        props : [
            "applicant_number",
            "departments",
            "employee_types",
            "pay_classes",
            "job_positions",
            "base_url",
        ],
        mounted() {
            var that = this;
            this.$http.post(that.base_url+'/get-applicant-details',{ emp_applicant_number : that.applicant_number }).then(response => {
                that.applicant_details = {
                    "app_number" : that.applicant_number,
                    "app_status" : response.body.app_status,
                    "app_position" : response.body.app_position,
                    "app_position_two" : response.body.app_position_two,
                    "app_date" : response.body.app_date,
                    "app_desired_salary" : response.body.app_desired_salary,
                    "app_reason" : response.body.app_reason,
                    "app_blacklist" : response.body.app_blacklist,
                    "emp_firstname" : response.body.emp_firstname,
                    "emp_middlename" : response.body.emp_middlename,
                    "emp_lastname" : response.body.emp_lastname,
                    "emp_image" : "123v123.jpg",
                    "emp_dept_id" : response.body.emp_dept_id,
                };
            }, response => {
                swal("Error","Something went wrong!","error");
            });
            $("#app_date").datepicker({
                onSelect: function(date) {
                    that.applicant_details.app_date = date;
                },
                "dateFormat" : 'yy-mm-dd'
            });
            $("#duration_from").datepicker({
                onSelect: function(date) {
                    that.applicant_details.contract_duration_from = date;
                },
                "dateFormat" : 'yy-mm-dd'
            });
            $("#duration_to").datepicker({
                onSelect: function(date) {
                    that.applicant_details.contract_duration_to = date;
                },
                "dateFormat" : 'yy-mm-dd'
            });
        },
        data () {
            return {
                "mutated_departments" : JSON.parse(this.departments),
                "mutated_employee_types" : JSON.parse(this.employee_types),
                "mutated_pay_classes" : JSON.parse(this.pay_classes),
                "mutated_job_positions" : JSON.parse(this.job_positions),
                'applicant_details' : {
                    "app_number" : "",
                    "app_status" : "",
                    "app_position" : "",
                    "app_position_two" : "",
                    "app_date" : "",
                    "app_desired_salary" : "",
                    "app_reason" : "",
                    "app_blacklist" : "",
                    "emp_firstname" : "",
                    "emp_middlename" : "",
                    "emp_lastname" : "",
                    "emp_image" : "123v123.jpg",
                    "emp_dept_id" : "",
                }

            }
        },
        methods : {
            passApplicantDetails () {
                this.$emit('applicantDetails',this.applicant_details);
            },
            onFileChange(e) {
                var files = e.target.files;
                if (!files.length)
                    return;
//                this.$set(this.applicant_details,"photo",files[0]);
                console.log(files[0]);
                let formdata = new FormData();
                formdata.append('Content-Type', 'image/');
                formdata.append('photo', files[0]);
                this.$http.post('/admin/personnel-information/test',formdata).then(response => {
                    console.log(response.body);
                }, response => {
                    // error callback
                });
            },
            sample() {
                swal("asdasd","asdasdasda","success");
            }
        },
        watch : {
            'applicant_details': {
                handler(val){
                    this.passApplicantDetails();
                },
                deep: true
            }
        },
    }
</script>
