body {
    padding-bottom: 100px;
	font-size: 13px;
}
hr {
	border-top : 1px solid #dddddd;
}
label {
	font-size : 12px;
}
/*Login*/
.login-container {
	margin-top: 5%;
	padding : 50px;
}
.login-form {
	border: 1px solid #e5e5e5;
	padding: 20px;
}

.login-legend {
	border-bottom: 2px solid #e5e5e5 !important;
}

/*Main menu*/
.main-menu {
	font-size : 13px;
	text-align: center;
}

.main-menu li{
	cursor: pointer;
}

/*Sidebar*/
.div-sidebar {
	padding : 10px 0 10px 0;
    background-color: #01b86a;
    color: #fff !important;
}

.list-sidebar li a{
    display: block;
    padding: 10px;
    color : #fff;
}

.list-sidebar li:hover{
    background-color: #449d44;
}

.list-sidebar li a.active{
    background-color: #449d44;
}


/*Content*/
.padding-top-30 {
	padding-top: 20px !important;
}
.div-bordered-content {
	border: 1px solid #dddddd;
	padding : 20px;
}
.div-title {
	margin-top:-40px;
	background-color: rgba(136, 184, 47, 0.49);
	width: 215px;
	height: 40px;
	padding : 10px;
}

/*Applicant Profiling*/

.ap-search-select {
	min-width: 150px !important;
	text-align: right !important;
}

.space-10 {
	margin: 10px; 
}