<template>
    <div class="div">
        <div class="col-md-2 div-sidebar">
            <ul class="list-unstyled list-sidebar">
                <li v-for="(value, key, index) in tabs">
                    <a @click.prevent="switchTab(key)" v-text="value.name"></a>
                </li>
            </ul>
        </div>
        <div class="col-md-10">
            <employee-details
                :employee_number="employee_number"
                :departments="departments"
                :employee_types="employee_types"
                :pay_classes="pay_classes"
                :job_positions="job_positions"
                :base_url="base_url"
                v-on:employeeDetails="updateEmployeeDetails">
            </employee-details>
            <div v-if="activeTab == key" v-on:detailsToSave="updateData" :base_url="base_url" :employee_number="employee_number" v-for="(value, key,index) in tabs" :is="value.file">
            </div>
        </div>
    </div>
</template>
<script>
    import employeeDetails from "./sub-components/employee-details.vue";
    import characterReference from "./sub-components/char-reference.vue";
    import employmentHistory from "./sub-components/employment-history.vue";
    import compensationBenefits from "./sub-components/compensation-benefits.vue";
    import dependents from "./sub-components/dependents.vue";
    import educationalBackground from "./sub-components/educational-background.vue";
    import familyBackground from "./sub-components/family-background.vue";
    import jobDescription from "./sub-components/job-description.vue";
    import personalInformation from "./sub-components/personal-information.vue";
    import requirements from "./sub-components/requirements.vue";
    import skills from "./sub-components/skills.vue";
    import trainings from "./sub-components/trainings.vue";
    export default {
        props:[
            'employee_number',
            'departments',
            'employee_types',
            'pay_classes',
            'job_positions',
            'base_url'
        ],
        name : "employeeIndex",
        components : {
            employeeDetails,
            characterReference,
            employmentHistory,
            compensationBenefits,
            dependents,
            educationalBackground,
            familyBackground,
            jobDescription,
            personalInformation,
            requirements,
            skills,
            trainings,
        },
        mounted () {

        },
        data() {
            return {
                "tabs" : {
                    personalInformation: {
                        name : "Personal Information",
                        file : "personal-information"
                    },
                    compensationBenefits: {
                        name : "Compensation and Benefits",
                        file : "compensation-benefits"
                    },
                    characterReference: {
                        name : "Character Reference",
                        file : "character-reference"
                    },
                    dependents: {
                        name : "Dependents",
                        file : "dependents"
                    },
                    jobDescription: {
                        name : "Job Description",
                        file : "job-description"
                    },
                    employmentHistory: {
                        name : "Employment History",
                        file : "employment-history"
                    },
                    educationalBackground: {
                        name : "Educational Background",
                        file : "educational-background"
                    },
                    familyBackground: {
                        name : "Family Background",
                        file : "family-background"
                    },
                    requirements: {
                        name : "Requirements",
                        file : "requirements"
                    },
                    trainings: {
                        name : "Trainings",
                        file : "trainings"
                    },
                    skills: {
                        name : "Skills",
                        file : "skills"
                    },
                },
                "activeTab" : "familyBackground",
                "processing" : false,
                "employee_details" : {}
            }
        },
        methods : {
            switchTab(tab) {
                this.activeTab = tab;
            },
            updateEmployeeDetails(data) {
                this.employee_details = data;
            },
            updateData(data) {
                var params = {
                    employee_details : this.employee_details,
                    to_update : this.activeTab,
                    data_for_update : data
                };
                this.$http.post(this.base_url+'/employee-details',params).then(response => {
                    if(response.body.success) {
                        swal("",response.body.message,"success");
                    }else{
                        swal("",response.body.message,"error");
                    
                        // this.decodeErrors(response.body.errors);    
                        swal({
                            title: "Please fill required fields",
                            text: "<ul class='list-unstyled'><li>" + response.body.errors[Object.keys(response.body.errors)[0]][0] +"</li></ul>",
                            type: "error",
                            html: true
                        });                    
                    }
                }, response => {
                    swal("Error","Something went wrong!","error");
                });
            },
            decodeErrors(errors) {
                // var errors = Object.keys(errors);
                // for (var i = 0; i < errors.length; i++) {
                //     console.log(errors[i].split("."));
                // }
            }
        },
        watch : {
            processing () {
                if(this.processing) {

                }
            },
        }
    }
</script>